.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 2px;
  letter-spacing: 4px;
  font-size: 15px;
  padding-right: 10px;
  text-transform: uppercase;
  font-family: "Special Elite", system-ui;

}
